* {
    margin: 0;
    padding: 0;
}

/* ========================global style================ */
.container {
    max-width: 1200px;
    width: 100%;
    box-sizing: border-box;
    padding: 0 20px;
    margin: 0 auto;
}

/* 
body {
    font-family: 'Open Sans', sans-serif;
    font-family: 'Roboto', sans-serif;
} */

.d-flex {
    display: flex;
    /* flex-wrap: wrap; */
    align-items: center;
}

.text-center {
    text-align: center;
}

ul {
    list-style: none;
}

h2 {
    text-transform: uppercase;
    color: #000;
}

a {
    text-decoration: none;
}

.text-white {
    color: #fff;
}

.text-black {
    color: #000;
}

.text-trans {
    text-transform: uppercase;
}

/* ==================== topbar section =============== */
.topbar-sec {
    background: #173a69;
    padding: 10px 0;
}

.topbar-sec .topbar-parents .topbar-contact {
    width: 50%;
}

.topbar-sec .topbar-parents .topbar-contact ul li {
    margin-left: 40px;
}

.topbar-sec .topbar-parents .topbar-contact ul li a {
    margin-left: 10px;
    font-size: 13px;
    font-weight: 400;
    line-height: 19px;
}

.topbar-sec .topbar-parents .topbar-icon {
    width: 50%;
}

.topbar-sec .topbar-parents .icon ul {
    justify-content: end;
}

.topbar-sec .topbar-parents .icon ul li {
    margin-left: 32px;
}

.topbar-sec .topbar-parents .icon ul li a:hover {
    color: red;
}

/* =========================== topbar section=========== */
.menubar-section {
    padding: 15px 0;
}

.menubar-section .menubar-parents .menubar-logo {
    width: 30%;
    text-align: left;
    transform: translate(25px, 5px);
}

.menubar-section .menubar-parents .menubar-list {
    width: 70%;
}

.menubar-section .menubar-parents {
    justify-content: space-between;
}

.menubar-section .menubar-parents .menubar-list ul {
    justify-content: end;
}

.menubar-section .menubar-parents .menubar-list ul li {
    position: relative;
    display: inline-block;
    transition: 1s;
    transform: translateX(29%);
}

.menubar-section .menubar-parents .menubar-list ul li a {
    padding: 0 38px;
}

.menubar-section .menubar-parents .menubar-list ul li::after {
    content: "";
    width: 0;
    height: 3px;
    position: absolute;
    background: #0c1f38;
    left: 55%;
    transform: translateX(-50%);
    transition: 1s;
    bottom: -46px;

}

.menubar-section .menubar-parents .menubar-list ul li:hover::after {
    width: 100%;

}

.menubar-section .menubar-parents .menubar-list ul li a {
    font-size: 15px;
    line-height: 21px;
    font-family: 'Open Sans', sans-serif;
    font-weight: 700;
}

/* ============= End of navbar section ============== */

.banner-sec {
    background-image: url("../img/service-banner.jpg");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    padding: 95px 0px 105px 0px;
    position: relative;
    z-index: 99;
}

.banner-sec::after {
    background-color: #000;
    position: absolute;
    content: "";
    height: 100%;
    width: 100%;
    top: 0;
    opacity: .6;
    z-index: -1;
}

.banner-sec .banner-parents .banner-text {
    text-align: center;
}

.banner-sec .banner-parents .banner-text .bannertitle h2 {
    font-size: 32px;
    font-weight: 800;
    line-height: 38px;
    padding-bottom: 20px;
    font-family: 'Open Sans', sans-serif;
}

.banner-sec .banner-parents .banner-text .bannertitle .banner-list a {
    font-size: 14px;
    line-height: 20px;
    font-weight: 400;
    font-family: 'Open Sans', sans-serif;

}

/* ............ end banner ...............  */

.form-sec .form-parents .form-input .form-contant .first-input input {
    width: 44%;
    height: 36px;
    font-size: 18px;
    padding-left: 10px;
}

.form-sec .form-parents .form-input .form-contant .first-input {
    column-gap: 3%;
}

.form-sec .form-parents .form-input .form-contant .subject {
    width: 93.5%;
    padding-left: 10px;
    height: 36px;
    font-size: 18px;
}

#massege {
    padding: 10px 0px 150px 10px;
    font-size: 18px;
    width: 93.5%;
}

.form-sec .form-parents .form-input .form-contant a {
    /* background: #173a69; */
    color: #173a69;
    border: 1px solid #173a69;
    padding: 16px 36px;
    font-size: 15px;
    font-weight: 300;
    margin: 20px 0px 74px 0px;
    display: inline-block;
    font-family: 'Roboto', sans-serif;
}

.form-sec .form-parents .form-input .form-contant {
    width: 100%;
}

.form-sec .form-parents .form-input .form-contant a:hover {
    background: #173a69;
    color: #fff;
}

.form-sec .form-parents .form-input .form-title h3 {
    font-size: 25px;
    font-weight: 700;
    line-height: 31px;
    margin-top: 98px;
    font-family: 'Open Sans', sans-serif;
}

.form-sec .form-parents .form-input .form-des p {
    font-size: 16px;
    font-weight: 300;
    line-height: 22px;
    padding: 22px 0px 30px 0px;
    font-family: 'Roboto', sans-serif;
}

.form-sec .form-parents .form-input {
    width: 70%;
}

.form-sec .form-parents .form-location {
    width: 30%;
    margin-top: 110px;
}

.form-sec .form-parents .form-location .location-title h3 {
    font-size: 25px;
    font-weight: 700;
    line-height: 31px;
    font-family: 'Open Sans', sans-serif;
    padding-bottom: 30px;
}

.form-sec .form-parents .form-location .location-icon ul li {
    font-size: 16px;
    font-weight: 500;
    font-family: 'Roboto', sans-serif;
    line-height: 22px;
    margin-bottom: 20px;
    color: #173a69;
}

.form-sec .form-parents .form-location .location-icon ul i {
    color: #000;
}

.form-sec .form-parents .form-location .location-icon ul li a {
    color: #000;
}

.form-sec .form-parents {
    display: flex;
}

/* ------------------- contact part ---------- */
.contact-sec {
    background-color: hsl(214, 64%, 25%);
}

.contact-sec .contact-parents {
    text-align: center;
    padding: 87px 0px 80px 0px;
}

.contact-sec .contact-parents p {
    font-size: 24px;
    line-height: 30px;
    font-weight: 700;
    font-family: 'Open Sans', sans-serif;
}

.contact-sec .contact-parents a {
    font-size: 30px;
    line-height: 36px;
    font-weight: 900;
    font-family: 'Open Sans', sans-serif;
}

/* ================== logo-icon part ============= */
.logo-icon .logo-icon-parents {
    text-align: center;
    margin: 70px;
}


.logo-icon .logo-icon-parents .icon-img {
    justify-content: center;
    column-gap: 30px;
    padding-top: 50px;
}

.logo-icon .logo-icon-parents .icon-img i {
    font-size: 16px;
    color: gray;
    height: 20px;
    width: 20px;
    border: 1px solid gray;
    padding: 15px;
    border-radius: 50%;
}

.logo-icon .logo-icon-parents .icon-img i:hover {
    background-color: #173a69;
    color: white;
}

/* ===============fotter sec ============ */
.footer-sec {
    background: #000;
    color: white;
    padding: 30px 0px 26px 0px;
    text-align: center;
}

.footer-sec .footer-parents p {
    font-size: 15px;
    line-height: 21px;
    font-weight: 700;
}

.footer-sec .footer-parents a {
    font-size: 18px;
    font-weight: 700;
    font-family: 'Open Sans', sans-serif;
    line-height: 24px;
    border-bottom: 1px solid white;
}